{
    "account": [
        {
            "username": 123,
            "password": 123
        },
        {
            "username": 456,
            "password": 456
        }
    ],
    "notification": {
        "gotify": {
            "enabled": false,
            "URL": "https://push.example.de/message?token=123",
            "title": "my title",
            "priority": 5
        },
        "dingtalk": {
            "enabled": false,
            "URL":"https://oapi.dingtalk.com/robot/send?access_token=42"
        }
    }
}